
@import url('https://cdn.discordapp.com/attachments/1277534759240601655/1306955924950487131/Markt.webp?ex=67388d0e&is=67373b8e&hm=93a98c874984c9a4e114f60c6d647ac38b024e924e848513cfeaca9c48e83d0f&');

Body {
    /*background-image: url();*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}



.Markt {
  font-family: Arial, sans-serif;
  padding: 20px;
  
}

.Markt h1 {
  font-family: 'UnifrakturCook', cursive;
  font-size: 2rem;
  color: #c9b040;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 20px;
}

.Markt .tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.Markt .tab-buttons button {
  margin-right: 10px;
  padding: 10px;
  background-color: #271816;             /* #7a2020; */
  color: #c9b040;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: 'UnifrakturCook', cursive, serif; /* "cursive" und "serif" sind Fallbacks */
  font-weight: 700; /* Schriftgewicht einstellen */
  font-size: 20px;
}

.Markt .tab-buttons button:hover {
  background-color: #d4af37;
  color: #000000;
}

.Markt .tab-buttons button.active {
  background-color: #7a2020;
  border: 2px solid #c9b040;
}

.Markt ul {
  list-style: none;
  padding: 0;
  background-color: #27181600;

}

.Markt ul li {
  background-color: #311e1c57;
  padding: 10px;
  border: 1px solid #c9b040;
  border-radius: 5px;
  font-size: 1rem;
  color: #c9b040;
  display: flex;
  align-items: center;
  font-family: 'UnifrakturCook', cursive, serif; /* "cursive" und "serif" sind Fallbacks */
  font-weight: 700; /* Schriftgewicht einstellen */
  font-size: 20px;
}


.Markt ul li input {
  margin-right: 10px;
}

.Markt .action-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.Markt .action-buttons button {
  padding: 10px;
  background-color: #271816;
  color: #c9b040;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: 'UnifrakturCook', cursive, serif; /* "cursive" und "serif" sind Fallbacks */
  font-weight: 700; /* Schriftgewicht einstellen */
  font-size: 20px;
}


.Markt .action-buttons button:hover {
  background-color: #d4af37;
  color: #3e2723;
}

/* Bestätigungsdialog */
.Markt .confirm-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Markt .confirm-dialog-content {
  background-color: #271816;
  color: #c9b040;
  padding: 20px;
  border-radius: 5px;
  border: 3px solid #c9b040;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-family: 'UnifrakturCook', cursive, serif; /* "cursive" und "serif" sind Fallbacks */
  font-weight: 700; /* Schriftgewicht einstellen */
  font-size: 20px;
}

.Markt .confirm-dialog-content h3 {
  margin-bottom: 20px;

}

.Markt .confirm-dialog-content button {
  margin: 0 10px;
  padding: 10px;
  background-color: #7a2020;
  color: #c9b040;
  border: none;
  cursor: pointer;
  font-family: 'UnifrakturCook', cursive, serif; /* "cursive" und "serif" sind Fallbacks */
  font-weight: 700; /* Schriftgewicht einstellen */
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #c9b040;
}

.Markt .confirm-dialog-content button:hover {
  background-color: #d4af37;
  color: #000000;
}
