/* src/Markt.css */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

body {
    background-color: #271816;
    color: #c9b040;
    font-family: Arial, sans-serif; /* Entfernt die spezifische Schriftart für den gesamten Body */
    margin: 0;
    font-size: 1.2rem; /* Schriftgröße etwas größer gemacht */
}

.errormessage {
    color: #ff4c4c;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.2rem; /* Schriftgröße etwas größer gemacht */
}

.market ul, .inventory ul {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 0;
    font-size: 1.2rem; /* Schriftgröße etwas größer gemacht */
}

.market ul li, .inventory ul li {
    max-width: 800px;
    margin: 0 auto 10px auto;
    text-align: center;
    background-color: #311e1c;
    padding: 10px;
    border: 1px solid #c9b040;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem; /* Schriftgröße etwas größer gemacht */
    gap: 10px;
}

.market ul li div, .inventory ul li div {
    text-align: center;
    font-size: 1.2rem; /* Schriftgröße etwas größer gemacht */
}

button {
    padding: 10px;
    background-color: #271816;
    color: #c9b040;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-family: 'UnifrakturCook', cursive;
    font-weight: 700;
    font-size: 30px; /* Schriftgröße etwas größer gemacht */
}

button:hover {
    background-color: #d4af37;
    color: #000;
}

button:disabled {
    background-color: #555;
    color: #ccc;
    cursor: not-allowed;
}

.market, .inventory {
    margin-top: 20px;
}

.market h2, .inventory h2 {
    text-align: center;
    font-family: 'UnifrakturCook', cursive;
    text-shadow: 2px 2px 4px #000;
    font-size: 1.7rem; /* Schriftgröße etwas größer gemacht */
    margin-top: 30px;
    margin-bottom: 15px;
}

.market ul li button, .inventory ul li button {
    margin-left: 10px;
}

header {
    position: static; /* Entfernt das Fixieren des Headers beim Scrollen */
}
