/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
.App {
  text-align: center;
}

/*body {
  /* background-color: #271816;
   color: #c9b040;
   font-family: Arial, sans-serif; /* Entfernt die spezifische Schriftart für den gesamten Body 
   margin: 0;
   font-size: 1.2rem; /* Schriftgröße etwas größer gemacht 
}*/

.Content {
  padding: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.log-container {
  margin-top: 20px;
  width: 60%;
  max-height: 300px;
  overflow-y: auto;
  text-align: left;
}

.log {
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

p {
  margin: 5px 0;
  color: #a9a9a9;
}

.App {
  font-family: 'UnifrakturCook', cursive;
  /*background-color: #271816;*/
  color: #a18711;
  
  
}

.market-page {
  background-image: url('https://cdn.discordapp.com/attachments/1277534759240601655/1306955924950487131/Markt.webp?ex=673bd8ce&is=673a874e&hm=bfc91ce3c2b4f6757374b95c91e41a6dac9d70b38d7879975ec571bd31d35460&');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}

.inventory-page {
  background-image: url('https://cdn.discordapp.com/attachments/1277534759240601655/1306924920973955152/inv.jpg?ex=6738702e&is=67371eae&hm=0a4d6d96a17d66d97abffb79c506745cb1ae4f6e55d92412a192c78572210762&');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.mine-page {
  background-image: url('https://cdn.discordapp.com/attachments/1277534759240601655/1306955925378174996/Erzhohle.webp?ex=673bd8ce&is=673a874e&hm=141eea06376a3858caf0bfc221265657fe66f5851681b6704a55eee40060793d&');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.wald-page {
  background-image: url('https://cdn.discordapp.com/attachments/1277534759240601655/1306959269534629909/Wald.webp?ex=673bdbeb&is=673a8a6b&hm=b496537c334916a5ecf66da2f80ad96d99348aa6686eceffdd80448beec1a5db&');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.schmiede-page {
  background-image: url('https://cdn.discordapp.com/attachments/1277534759240601655/1306961031331057695/Schmied_innen.webp?ex=673bdd90&is=673a8c10&hm=ff577b6d7340047f8f41663a5db02b9cb5220f333e14bcff33cef7825da8d9ad&');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.taverne-page {
  background-image: url('https://cdn.discordapp.com/attachments/1277534759240601655/1306958186305028106/Taverne.webp?ex=673bdae9&is=673a8969&hm=af212939823ba15d583800f65ac43e3c7c43f31538a53136bf730ca0097c6774&');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.dungeon-page {
  background-image: url('https://cdn.discordapp.com/attachments/1277534759240601655/1306961815636414576/Dungeon_Eingang.webp?ex=673bde4b&is=673a8ccb&hm=1f62bcdbb63a8917e3d50d6b54b09c2ed9711094ceb047c433173e38848d837a&');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
  