/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
.App {
  text-align: center;
}

/*body {
  /* background-color: #271816;
   color: #c9b040;
   font-family: Arial, sans-serif; /* Entfernt die spezifische Schriftart für den gesamten Body 
   margin: 0;
   font-size: 1.2rem; /* Schriftgröße etwas größer gemacht 
}*/

.Content {
  padding: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.log-container {
  margin-top: 20px;
  width: 60%;
  max-height: 300px;
  overflow-y: auto;
  text-align: left;
}

.log {
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

p {
  margin: 5px 0;
  color: #a9a9a9;
}

.App {
  font-family: 'UnifrakturCook', cursive;
  /*background-color: #271816;*/
  color: #c9b040;
  
}